
<html lang="en">
<head>
    <title>Splat</title>
    
</head>

<body border-style: solid;>

<div class="row">

<h1 class="card-panel purple darken-4">SPLAT</h1>



<p>Find me in app/views/welcome/index.html.erb</p>


<div id='links'>
   <%= link_to 'Posts', posts_path %>
</dir>

</div>

</body>
</html>