
<html lang="en">
<head>
    <title>Splat</title>
    
</head>

<body>
    <nav class="purple lighten lighten-1" role="navigation"> <img src="https://i.imgur.com/iuPAg8n.png"
        alt="log"
        title="splatlog"
        style="width: 178px; height: 158px;">
      <div class="nav-wrapper container" style="text-align: left;">
        <ul class="dropdown-trigger-btn">
          <li><a href="#posts">Demo Wall</a></li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <div style="text-align: justify; margin-left: 760px;"><a href="#" data-target="nav-mobile"
            class="sidenav-trigger"><i
              class="material-icons">menu</i></a></div>
      </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container"> <br>
        <br>
      </div>
    </div>
    <div class="container">&nbsp; <br>
    </div>
    <div class="container">
        <br>
        <h5><align-center>Splat is a collaboration tool that utilizes walls of comments, or <italic>splats.</italic></align-center></h5>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>

  </body>
      <footer class="purple lighten-2"> <br>
      <div class="footer-copyright">
        <div class="container"> Made by <span style="color: #fef5fd;">Splat</span>
        </div>
      </div>
    </footer>
    
</html>