

<body>
    <nav class="purple lighten lighten-1" role="navigation" style="height: 125px;">
      <div style="height: 160px;"> <img src="https://i.imgur.com/iuPAg8n.png" alt="log"
          title="splatlog"
          style="width: 178px; height: 158px;">
      </div>
      <div class="nav-wrapper container">
        <ul class="right">
          <li><a href="/posts" style="margin-top: -114px; height: 44px;">Demo Wall</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" style="text-align: center; margin-top: -21px; height: 59px;"><br>
    </div>
    <div class="container" style="text-align: center;"><br>
    </div>
    <div class="container" style="text-align: center;"><br>
    </div>
    <div><br>
 <%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
</div>

    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <footer class="purple lighten-2"> <br>
      <div class="footer-copyright">
        <div class="container"> Made by <span style="color: #fef5fd;">Splat</span>
        </div>
      </div>
    </footer>
  </body>
